
    *{
        margin:0;
        padding: 0;
        color: white;
        box-sizing: border-box;
    }
    body{
        background-color: black;
    }
    .left{
        display: inline-block;
        position: absolute;
        left: 20px;
        top: 20px;
    }
    .left img{
        width: 130px;
        height: 130px;

    }
    .mid{
        width: 35%;
        display: block;
        margin: 25px auto;
    }
    .right{
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;

    }

    #navbar{
        display: flex;
    }
    #navbar ul{
        display: flex;
        font-size: 2rem;
        align-items: center;

    }
    #navbar li {
        list-style: none;
    }
    #navbar li a{
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 23px;
        border-radius: 30px;
    }
    #navbar li a:hover{
        background-color: white;
        color: black;
    }
    .btn{
        padding: 15px 23px;
        font-size: 20px;
        cursor: pointer;
        border: none;
        border-radius: 15px;
        background-color: red;
        color: white;
    }
    .container{
        /* font-size: 60px; */
        display: block;
        text-align: center;
        width: 70%;
        margin: auto;
        /* display: flex; */
        text-transform: uppercase;
        align-items: center;
        justify-content: space-around;
    }
    .container h1{
        margin: 8px 10px;
        font-size: 120px;
    }
    span{
        border: 2px solid black;
        border-radius: 50px;
        padding: 8px 13px;
        color: black;

        background-color: brown;
    }
    .container #left-img{
        height: 200px;
        width: 200px;
        position: absolute;
        top: 25%;
        left: 3%;
    }
    .container #right-img{
        height: 200px;
        width: 200px;
        position: absolute;
        bottom: 10%;
        right: 3%;
    }
    h5{
        position: absolute;
        bottom: 7%;
        left: 50%;
        transform: translate(-50%,0);
        font-size: 25px;
    }
    #loader{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 99;
        background-color: rgb(10, 2, 2);
    }
    #loader h1{
        font-size: 100px;
        font-family: monospace;
        font-weight: 100;
    }
